@charset "utf-8";

/* 전체검색결과 스킨 */
.s71_search_box{position:relative; margin:2.5rem 0 0; }
#sch_res_detail {position:relative; padding:0; text-align:center; margin:0;}
#sch_res_detail legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#sch_res_detail select {border:1px solid transparent;width:175px;height:45px;padding:0 5px;border-radius:50px;}
#sch_res_detail .frm_input {font-size:1.063rem; border:1px solid transparent;width:80%;height:45px;padding:5px 1rem;border-radius:0;border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;box-shadow:none;}
#sch_res_detail .sch_wr {position:relative;display:flex;justify-content:center; align-items:center; width:17rem; margin:0 auto; border:1px solid #8b8b8b; border-radius:50px; overflow:hidden;}
#sch_res_detail .btn_submit {padding:0 0;height:45px;width:20%;font-size:1.083em;font-weight:bold;color:#fff;background: #fff url(http://interseoul.com/theme/inter/skin/board/before_after/img/search_icon.png) 45% 50%/21px no-repeat; border-radius:0;border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;}

/* 검색 OR+ADN 버튼 */
.switch_field {display:inline-block;vertical-align:middle;padding:10px 5px}
.switch_field input {position:absolute !important;clip:rect(0, 0, 0, 0);height:1px;width:1px;border:0;overflow:hidden}
.switch_field label {float:left}
.switch_field label {display:inline-block;width:50px;background-color:#fff;color:rgba(0, 0, 0, 0.6);font-size:1em;font-weight:normal;text-align:center;text-shadow:none;padding:6px 14px;border:1px solid #bbc0c6;
-webkit-box-shadow:inset 0 5px 8px rgb(234, 234, 234), 0 1px rgba(255, 255, 255, 0.1);
box-shadow:inset 0 5px 8px rgb(234, 234, 234), 0 1px rgba(255, 255, 255, 0.1);
-webkit-transition:all 0.1s ease-in-out;
-moz-transition:all 0.1s ease-in-out;
-ms-transition:all 0.1s ease-in-out;
-o-transition:all 0.1s ease-in-out;
transition:all 0.1s ease-in-out}
.switch_field label:hover {cursor:pointer}
.switch_field input:checked + label {background-color:#3a8afd;border:1px solid #3a8afd;color:#fff;-webkit-box-shadow:none;box-shadow:none}
.switch_field label:first-of-type {border-radius:4px 0 0 4px;border-right:0}
.switch_field label:last-of-type {border-radius:0 4px 4px 0}

#sch_res_ov {position:relative; text-align:center; margin:1.5rem 0 0; padding:0;}
#sch_res_ov:after {display:block;visibility:hidden;clear:both;content:""}
#sch_res_ov h2 {float:left;display:inline-block;font-size:1.25em;color:#293d58;font-weight:normal}
#sch_res_ov h2 strong {color:#ff005a}
#sch_res_ov ul {display:inline-block;float:right;line-height:12px;font-size:0.92em;color:#5977a4;margin-top:20px}
#sch_res_ov ul:after {display:block;visibility:hidden;clear:both;content:""} 
#sch_res_ov li {float:left;margin-right:5px;padding-right:5px;border-right:1px solid #5977a4}
#sch_res_ov li:last-child {margin:0;padding:0;border:0}

#sch_res_board {margin-bottom:28px}
#sch_res_board h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sch_res_board ul {zoom:1}
#sch_res_board ul:after {display:block;visibility:hidden;clear:both;content:""}
#sch_res_board li {display:inline-block;padding:2px}
#sch_res_board a {display:block;line-height:28px;padding:5px 15px;border-radius:30px;border:1px solid #d6e9ff;color:#6794d3}
#sch_res_board a:focus, #sch_res_board a:hover {text-decoration:none;background:#3a8afd;color:#fff}
#sch_res_board .cnt_cmt {font-weight:normal !important;display:inline-block;margin-left:3px;color:#3497d9;line-height:18px;font-size:0.92em}
#sch_res_board a:hover .cnt_cmt {color:#fff}
#sch_res_board .sch_on {z-index:2;background:#3a8afd;color:#fff;font-weight:bold;border:1px solid #3a8afd;
-webkit-box-shadow: inset 0 2px 5px rgb(33, 135, 202);
-moz-box-shadow: inset 0 2px 5px rgb(33, 135, 202);
box-shadow:inset 0 2px 5px rgb(33, 135, 202)}

.sch_res_list {position:relative;margin-bottom:10px}
.sch_res_list .search_board_result{position:relative; display:flex; flex-direction:column; justify-content:center; align-items:center;}
.sch_res_list .search_board_result + .search_board_result{margin:10rem 0 0;}
.sch_res_list .search_board_result > .pg_wrap{margin:2.5rem 0 0;}
.sch_res_list .search_board_result > .pg_wrap {position:relative; width:100%; max-width:100%; height:2.5rem; text-align:center; margin:2.5rem auto 0;}
.sch_res_list .search_board_result > .pg_wrap .pg {text-align:center; display:inline-block; margin:0 auto; display:flex; justify-content:center; align-items:center;}
.sch_res_list .search_board_result > .pg_wrap .pg > span, .sch_res_list .search_board_result > .pg_wrap .pg > a {width:2.5rem; height:2.5rem; margin:0 5px;}
.sch_res_list .search_board_result > .pg_wrap .pg > .pg_page {display:block; height:2.5rem; font-size:1.125rem; color:#858585; border:none; line-height:2.5rem; background-color:transparent; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
.sch_res_list .search_board_result > .pg_wrap .pg > .pg_page.pg_start {display:block; height:2.5rem; font-size:1.125rem; border:2px solid #e7e7e7; background: url(http://interseoul.com/theme/inter/skin/board/article/img/btn_first.gif) 50% 50%/95% no-repeat; color:#858585; line-height:2.5rem; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; text-indent:-9999px;}
.sch_res_list .search_board_result > .pg_wrap .pg > .pg_page.pg_end {display:block; height:2.5rem; font-size:1.125rem; border:2px solid #e7e7e7; background: url(http://interseoul.com/theme/inter/skin/board/article/img/btn_end.gif) 50% 50%/95% no-repeat; color:#858585; line-height:2.5rem; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; text-indent:-9999px;}
.sch_res_list .search_board_result > .pg_wrap .pg > .pg_page.pg_prev {display:block; height:2.5rem; font-size:1.125rem; border:2px solid #e7e7e7; background: url(http://interseoul.com/theme/inter/skin/board/article/img/btn_prev.gif) 50% 50%/65% no-repeat; color:#858585; line-height:2.5rem; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; text-indent:-9999px;}
.sch_res_list .search_board_result > .pg_wrap .pg > .pg_page.pg_next {display:block; height:2.5rem; font-size:1.125rem; border:2px solid #e7e7e7; background: url(http://interseoul.com/theme/inter/skin/board/article/img/btn_next.gif) 50% 50%/65% no-repeat; color:#858585; line-height:2.5rem; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; text-indent:-9999px;}
.sch_res_list .search_board_result > .pg_wrap .pg > .pg_page:hover {color:#4f4f4f; font-weight: bold;}
.sch_res_list .search_board_result > .pg_wrap .pg > .pg_current {display:block; width:2.5rem; height:2.5rem; margin:0 5px; font-size:1.125rem; font-weight: bold; color:#4f4f4f; line-height:2.5rem; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; background-color:transparent; border:none;}
.sch_res_list .search_board_result > .pg_wrap  img {vertical-align:top;}
.sch_res_list h2 {margin:0 0 15px;font-size:1.2em}
.sch_res_list ul {position:relative; width:100%; margin:0; padding:0; list-style:none; display:flex; flex-wrap:wrap; justify-content:flex-start; align-items:flex-start; gap:3rem 2rem;}
.sch_res_list li {position:relative; width:calc(50% - 1rem); }
.sch_res_list li.article_li {width:calc(25% - 1.5rem);}
.s71_search_img{position:relative; border-bottom:2px solid #e9e9e9;}
.article_li > .s71_search_img{position:relative; border-bottom:none;}
.s71_search_img > a{position:relative; width:100%; display:flex; justify-content:center; align-items:center; gap:0 1rem; overflow:hidden;}
.s71_search_img > a{
    position:relative;
    border-radius:0;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.article_li:hover .s71_search_img > a{
    border-radius:50px;
}
.article_li:hover .s71_search_img > a > .main_cont05_slider_hover_wrap{
    opacity:1; visibility:visible;
}
.sch_res_list .sch_tit {display:block;}
.sch_res_list .sch_tit.sch_tit_bna > a{position:relative; display:inline-block; width:auto; padding:0 0.5rem 0.5rem;}
.sch_res_list .sch_tit.sch_tit_bna > a::after{
    content:''; position:absolute; bottom:7px; left:0; width:100%; border-bottom:1px solid #000; 
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.8s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.8s cubic-bezier(1, 0, 0, 1);
}
.sch_res_list li:hover .sch_tit.sch_tit_bna > a::after{
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}
.sch_res_list .sch_tit.sch_tit_arti > a{display:block; width:100%; padding:1.5rem 0.5rem 0;}
.sch_res_list .pop_a {display:inline-block;background:#e8eeef;color:#6f777f;border-radius:50%;text-align:center;width:26px;height:26px;line-height:26px}
.sch_res_title {display:inline-block;margin:0 0;}
.sch_res_list p.search_board_title {position:relative; width:100%; padding:0.5rem 1rem; margin:0 0 4rem; border-bottom:1px solid #a2a2a2;}
.sch_res_list .sch_info {padding:10px 0;color:#777}
.sch_res_list .sch_info:after {display:block;visibility:hidden;clear:both;content:""}
.sch_res_list .profile_img img {border-radius:50%}
.sch_res_list .sch_datetime {margin-left:5px}
.sch_more {position:absolute;right:0;top:5px;text-align:right;font-weight:normal;color:#3a8afd}
.sch_word {color:#000; background:transparent; padding:0; line-height:1.6; margin:0;}

.s71_search_bna_txt{position:relative; width:100%; color:#000; padding:0.6rem 1rem 0.5rem; display:flex; justify-content:space-between; align-items:center;}
.s71_search_arti_text.txt02{margin:0.5rem 0 0;}
.s71_sch_bottom{position:relative; width:auto; margin:6rem auto 0; padding:2rem 8rem; background-color:transparent; border:2px solid #e7e7e7; display:inline-block;}
.s71_sch_bottom_text{position:relative; width:auto; text-align:center; padding:0; display:flex; flex-direction:column; justify-content:center; align-items:center;}
.s71_sch_bottom_text .check_icon2{display:block; margin:0 0 1rem;}
.s71_sch_bottom_text > .txt01{color:#797979;}

.s71_c01_wrap .empty_list{margin:-8rem 0 0;}



@media (max-width:1280px) {
    .s71_sch_bottom{}
    .s71_search_img_bna > img{height:auto;}
    .s71_search_img_article > img{height:auto;}
}
@media (max-width:480px) {
    .sch_res_list p.search_board_title{margin:0 0 2.5rem;}
    .sch_res_list ul{gap:2.5rem 0;}
    .sch_res_list li{width:100%;}
    .sch_res_list ul.article_ul{gap:2.5rem 1rem;}
    .sch_res_list li.article_li{width:calc(50% - 0.5rem);}
    .s71_search_img > a{gap:0 0.5rem}
    .s71_search_img_bna{width:calc(50% - 0.25rem);}
    .s71_search_bna_txt{padding:0.6rem 0.8rem 0.5rem;}
    .s71_sch_bottom{width:100%; padding:2rem 0rem;}
    .s71_search_arti_text.txt02{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    #sch_res_detail .sch_wr{width:16rem;}
    #sch_res_detail .frm_input{height:35px; font-size:1rem;}
    #sch_res_detail .frm_input::placeholder{font-size:1rem;}
    #sch_res_detail .btn_submit{height:35px; background: #fff url(http://interseoul.com/theme/inter/skin/board/before_after/img/search_icon_m.png) 45% 50%/16px no-repeat;}
    
    .article_li:hover .s71_search_img > a{
        border-radius:0px;
    }
    .article_li:hover .s71_search_img > a > .main_cont05_slider_hover_wrap{
        opacity:0; visibility:hidden;
    }
}
